{% extends "layout.html" %}

{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Octopus UI</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Create a new test <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
      <div class="col-md-12" >
          <table class="table table-hover table-condense" id="scripts">
              <thead>
              <tr>
                  <th># ID</th>
                  <th>Name</th>
                  <th>Created on</th>
                  <!-- <th>Path to file</th> -->
                  <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              {% for script in scripts %}
              <tr>
                  <td>{{ script[0] }}</td>
                  <td>{{ script[1] }}</td>
                  <td>{{ script[3] }}</td>
                  <!-- <td>{{ script[4] }}</td> -->
                  <td>
                      <button class="btn btn-info btn-sm ejecutar" id="{{ script[4] }}">Execute</button>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
{% endblock %}


{% block scripts %}
  <script src="{{ url_for('static', filename='js/list.js') }}"></script>
{% endblock %}
